{% extends 'base.html.twig' %}

{% block title %}New Bande{% endblock %}

{% block body %}
    <h1>Créer une nouvelle bande</h1>

    {{ include('bande/_form.html.twig') }}

    <a href="{{ path('app_bande_index') }}">Retour à la liste des bandes</a>
{% endblock %}
