{% extends 'base.html.twig' %}

{% block title %}New Bande{% endblock %}

{% block body %}
    <article>
        <header>
            <h1>Créer une nouvelle bande</h1>
        </header>

        {{ include('bande/_form.html.twig') }}

        <footer><a href="{{ path('app_bande_index') }}">Retour à la liste des bandes</a></footer>
    </article>
{% endblock %}
