{{ form_start(formDepense, {'attr': {'onsubmit': 'return handleForm(event);'}}) }}
    {{ form_widget(formDepense) }}
<button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(formDepense) }}
