{% extends 'base.html.twig' %}

{% block title %}New Depense{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle Dépense</h1>

    {{ include('depense/_form.html.twig') }}

    <a href="{{ path('app_depense_index') }}">Retour à la liste des dépense hors bande</a>
{% endblock %}
