<table class="table">
    <tbody>
    <tr>
        <th>Description</th>
        <td>{{ depense.description }}</td>
    </tr>
    <tr>
        <th>Prix</th>
        <td>{{ depense.prix }}</td>
    </tr>
    <tr>
        <th>Date de la depense</th>
        <td>{{ depense.createdAt ? depense.createdAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") : '' }}</td>
    </tr>
    </tbody>
</table>